body {
    background-color: #643E60;
}
.jumbotron {
    border: 2px solid #17334F;
    background-color: #616E8D;
    padding: 10px;
    margin: 5px;
}
.display-4 {
    text-align: center;
    color: #251e3e;
}
.nameBox {
    padding: 10px;
    background-color: #616E8D;
    border: 2px solid #17334F;
    color: #251e3e; 
}
/* .text-light{
    color: #251e3e; 
} */
.card {
    width: 60px;
    margin: 5px;
    align-content: center;
    background-color: #616E8D;
    border: 2px solid #17334F;
    color: #251e3e;
}
.card-body {
    text-align: center;
}
#sortedStudents {
    display: flex;
    flex-wrap: wrap;

}

